body {
   	padding: 1% 10%;

    background-image: url("/assets/bg.webp");
    background-position: center;
    background-attachment: fixed;
    background-size: 200%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
    
.info_header {
  	padding: 0px 1%;
    background: rgba(0, 0, 0, 0.75);
    color: white;
}
    
.info_box {
    padding: 1px 1%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}
    
nav {
   	color: white;
}
    
table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    
}

thead {
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
}

thead th {
    padding: 10px;
}

tbody tr{
    background-color: rgba(0, 0, 0, 0.5);
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    color: white;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
	text-decoration: none;
    color: white;
}

a:hover {
	text-decoration: underline;
    color: rgb(214, 214, 214);
}

a:active {
	text-decoration: none;
    color: white;
}
